@use '../abstracts/variables';
@use '../abstracts/mixins';

:root {
	// colors
	@each $color, $shades in variables.$colors {
		@each $shade, $value in $shades {
			--clr-#{$color}-#{$shade}: #{$value};
		}
	}
	// shadow
	--shadow-primary: 0.2rem 0.3rem 0.6rem hsl(322 100% 66% / 0.16);
	--shadow-primary-lg: 0rem 0.6rem 1.3rem hsl(322 100% 66% / 0.16);
	--shadow-neutral: 0 0.3rem 1.1rem hsl(0 0% 0% / 0.09);
	--shadow-neutral-cta: 0 0 1.4rem hsl(0 0% 0% / 0.07);

	// font families
	--ff-primary: 'Open Sans', sans-serif;
	--ff-heading: 'Poppins', sans-serif;

	// font wieghts
	@each $font-weight, $value in variables.$font-weights {
		--fw-#{$font-weight}: #{$value};
	}

	// font sizes
	@each $screen, $sizes in variables.$font-sizes {
		@if $screen == small {
			@each $size, $value in $sizes {
				--fz-#{$size}: #{$value};
			}
		} @else {
			@include mixins.mq($screen) {
				@each $size, $value in $sizes {
					--fz-#{$size}: #{$value};
				}
			}
		}
	}

	// border radius
	@each $radius, $value in variables.$border-radius {
		--borr-#{$radius}: #{$value};
	}

	// other
	--cta-margin-bottom: clamp(-9.6rem, 1rem - 10vw, -6.8rem);
}
