.cta {
	padding-block: clamp(4rem, 1rem + 5vw, 5.4rem);
	padding-inline: clamp(1.6rem, -2rem + 5vw, 4rem);
	margin-top: clamp(12rem, 5rem + 15vw, 16rem);
	margin-bottom: var(--cta-margin-bottom);
	background-color: var(--clr-neutral-100);
	border-radius: var(--borr-400);
	box-shadow: var(--shadow-neutral);

	&__heading {
		font-size: var(--fz-cta-heading);
	}
}
