@use '../abstracts/mixins' as mxn;

.feature-block {
	--padding-left: 4rem;
	--padding-right: 4rem;
	--padding-top: 2.4rem;
	--padding-bottom: 3.2rem;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: 2.4rem;
	padding: {
		top: var(--padding-top);
		bottom: var(--padding-bottom);
		left: var(--padding-left);
		right: var(--padding-right);
	}
	font-size: var(--fz-feature-block);
	text-align: center;
	border-radius: var(--borr-400);
	box-shadow: var(--shadow-neutral);
	@include mxn.mq(medium) {
		--padding-top: 5.4rem;
		--padding-bottom: 5.4rem;
		--padding-left: clamp(2.4rem, -2rem + 7.5vw, 12rem);
		text-align: initial;
		flex-direction: row;
		justify-content: space-between;
		gap: clamp(6.4rem, -2rem + 15vw, 15.5rem);

		& > * {
			flex: 1;
		}

		&[data-reversed] {
			flex-direction: row-reverse;
		}
	}

	// &__header {
	// 	@include mxn.mq(medium) {
	// 		padding-left: ;
	// 	}
	// }

	&__heading {
		margin-bottom: 1.6rem;
		font-size: var(--fz-600);
	}

	&__image {
		--max-width: clamp(24.5rem, 40vw, 42rem);
		max-width: var(--max-width);
	}
}
