@use '../abstracts/mixins' as mxn;

.primary-header {
	--bg-image: url('../images/bg-hero-mobile.svg');
	padding-bottom: clamp(3.6rem, 7.5vw, 7.2rem);
	background-color: var(--clr-neutral-200);
	background-image: var(--bg-image);
	background-repeat: no-repeat;
	background-size: cover;
	@include mxn.mq(medium) {
		--bg-image: url('../images/bg-hero-desktop.svg');
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5.6rem;
		@include mxn.mq(medium) {
			flex-direction: row;
		}
	}

	&__heading {
		font-size: var(--fz-700);
	}

	&__image {
		--max-width: 45rem;
		width: 100%;
		max-width: var(--max-width);
		@include mxn.mq(medium) {
			width: auto;
			--max-width: min(55%, 68rem);
		}
	}
}
